-- Fix RLS policies to avoid infinite recursion
-- Drop existing problematic policies
DROP POLICY IF EXISTS "Users can read own data" ON public.users;
DROP POLICY IF EXISTS "Users can update own data" ON public.users;

-- Create simplified policies that don't cause recursion
-- Users can read their own data (using auth.uid() directly)
CREATE POLICY "users_select_own" ON public.users FOR SELECT
  USING (auth.uid() = id);

-- Users can update their own data  
CREATE POLICY "users_update_own" ON public.users FOR UPDATE
  USING (auth.uid() = id);

-- Admins can read all users (using role from JWT claims instead of table lookup)
CREATE POLICY "admin_select_all_users" ON public.users FOR SELECT
  USING (auth.jwt() ->> 'role' = 'ADMIN');

-- Admins can update all users
CREATE POLICY "admin_update_all_users" ON public.users FOR UPDATE  
  USING (auth.jwt() ->> 'role' = 'ADMIN');

-- Admins can insert new users
CREATE POLICY "admin_insert_users" ON public.users FOR INSERT
  WITH CHECK (auth.jwt() ->> 'role' = 'ADMIN');

-- Allow service role to bypass RLS (for admin operations)
CREATE POLICY "service_role_bypass" ON public.users
  USING (auth.role() = 'service_role');
